<!-- <form [formGroup]="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input 
        formControlName="username"
        type="text" 
        id="username" 
        class="form-control"
        >
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input 
        formControlName="password"
        type="text" 
        id="password" 
        class="form-control"
        >
      </div>
      <button class="btn btn-primary" type="submit">X</button>
</form> -->




<!-- <form [formGroup]="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input 
        formControlName="username"
        type="text" 
        id="username" 
        class="form-control"
        >
        <div *ngIf="form.get('username')?.touched && form.get('username')?.invalid" class="alert alert-danger">UserName is required</div>
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input 
        formControlName="password"
        type="text" 
        id="password" 
        class="form-control"
        >
      </div>
      <button class="btn btn-primary" type="submit">X</button>
</form> -->



<!-- <form [formGroup]="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input 
        formControlName="username"
        type="text" 
        id="username" 
        class="form-control"
        >
        <div *ngIf="username?.touched && form.get('username')?.invalid" class="alert alert-danger">UserName is required</div>
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input 
        formControlName="password"
        type="text" 
        id="password" 
        class="form-control"
        >
      </div>
      <button class="btn btn-primary" type="submit">X</button>
</form> -->



<!-- ------------------------- VALIDATION MULTIPLE ------------------------- -->

<!-- <form [formGroup]="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input 
        formControlName="username"
        type="text" 
        id="username" 
        class="form-control"
        >
        <div *ngIf="username?.touched && username?.invalid" class="alert alert-danger">
            <div *ngIf="username?.errors?.required">User name is riquired</div>
            <div *ngIf="username?.errors?.minlength"> UserName doit avoir au minimun {{username?.errors?.minlength.requiredLength}} caracteres</div>
            <div *ngIf="username?.errors?.cannotContainsSpace"> user can not contain space </div>
      </div>

        </div>

        
      <div class="form-group">
        <label for="password">password</label>
        <input 
        formControlName="password"
        type="text" 
        id="password" 
        class="form-control"
        >
      </div>
      <button class="btn btn-primary" type="submit">X</button>
</form> -->




<!-- ----------------------------------------------------------------------- -->
<!--                               CHAPITRE 2 VALIDATION ASYNCH                               -->
<!-- ----------------------------------------------------------------------- -->

<!-- <form [formGroup]="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input 
        formControlName="username"
        type="text" 
        id="username" 
        class="form-control"
        >
        <div *ngIf="username?.pending">Is it unique</div>
        <div *ngIf="username?.touched && username?.invalid" class="alert alert-danger">
            <div *ngIf="username?.errors?.required">User name is riquired</div>
            <div *ngIf="username?.errors?.minlength"> UserName doit avoir au minimun {{username?.errors?.minlength.requiredLength}} caracteres</div>
            <div *ngIf="username?.errors?.cannotContainsSpace"> user can not contain space </div>
            <div *ngIf="username?.errors?.shouldBeUnique">User is not unique</div>
      </div>

        </div>

        
      <div class="form-group">
        <label for="password">password</label>
        <input 
        formControlName="password"
        type="text" 
        id="password" 
        class="form-control"
        >
      </div>
      <button class="btn btn-primary" type="submit">X</button>
</form> -->






<!-- ----------------------------------------------------------------------- -->
<!--                              SUBMIT EVENT                               -->
<!-- ----------------------------------------------------------------------- -->

<form [formGroup]="form"(ngSubmit)="login()">
    <div class="form-group">
        <label for="username">Username</label>
        <input 
        formControlName="username"
        type="text" 
        id="username" 
        class="form-control"
        >
        <div *ngIf="username?.pending">Is it unique</div>
        <div *ngIf="username?.touched && username?.invalid" class="alert alert-danger">
            <div *ngIf="username?.errors?.required">User name is riquired</div>
            <div *ngIf="username?.errors?.minlength"> UserName doit avoir au minimun {{username?.errors?.minlength.requiredLength}} caracteres</div>
            <div *ngIf="username?.errors?.cannotContainsSpace"> user can not contain space </div>
            <div *ngIf="username?.errors?.shouldBeUnique">User is not unique</div>
      </div>

        </div>

        
      <div class="form-group">
        <label for="password">password</label>
        <input 
        formControlName="password"
        type="text" 
        id="password" 
        class="form-control"
        >
      </div>
      <button class="btn btn-primary" type="submit">X</button>
</form>