<p>{{title}}</p>
<h1>{{getTitle()}}</h1>


<ul>
    <li *ngFor="let movie of movies">{{movie}}</li>
</ul>

<img [src]="imgUrl" alt="">

<table>
    <tr>
        <td [attr.colspan]="cols"></td>
    </tr>
</table>
<h3 class=" bg-red-500">Bonjour c'est moi </h3>
<button class="btn btn-primary">Click moi</button>
<button class="btn btn-primary" [style.backgroundColor]="isActive ? 'red' : 'green'">SAVE</button>

<!-- EVENT -->

<button (click)="onSave()">SAVE 2</button>
<button (click)="onSave2($event)">SAVE 3</button>

<!-- BUBLING -->

<div (click)="onDivClicked()">
    <button (click)="onSave3($event)">SAVE 4</button>

</div>

<!-- EVENT FILTERING -->

<!-- <input class="border" (keyup)="onKeyup($event)"/> -->

<input class="border" (keyup.enter)="onKeyUp()"/>

<input class="border" (keyup.enter)="onKeyUp2($event)"/>

<input #email (keyup.enter)="onKeyUp3(email.value)" class="border"/>

<input [value]="monEmail" (keyup.enter)="onKeyUp4()"/>

<input [(ngModel)]="tonEmail" (keyup.enter)="onKeyUp5()" />

<span> l'email de ce qagoin est {{tonEmail}}</span>

<div>
    {{course.title | uppercase | lowercase| slice:0:9}}<br/>
    {{course.student | number: '': 'fr'}}<br/>
    {{course.ratting|number : '1.2-3' : 'fr'}}<br/>
    {{course.price|currency:'EUR':'symbol-narrow':'':'fr'}}<br/>
    {{course.releaseDate|date:'longDate':'':'fr'}}<br/>
</div>

<div>
    {{text|summary : 2}}
</div>
