<!-- ----------------------------------------------------------------------- -->
<!--                                  INPUT                                  -->
<!-- ----------------------------------------------------------------------- -->

<!-- <favorite [isFavorite]="post.isFav"></favorite> -->







<!-- ----------------------------------------------------------------------- -->
<!--                                 OUTPUT                                  -->
<!-- ----------------------------------------------------------------------- -->
<!-- <favorite [isFavorite]="post.isFav" (change)="onFavoriteChange()" ></favorite> -->

<favorite [isFavorite]="post.isFav" (change)="onFavoriteChange($event)" ></favorite>












