<!-- ----------------------------------------------------------------------- -->
<!--                                  INPUT                                  -->
<!-- ----------------------------------------------------------------------- -->

<!-- <favorite [isFavorite]="post.isFav"></favorite> -->







<!-- ----------------------------------------------------------------------- -->
<!--                                 OUTPUT                                  -->
<!-- ----------------------------------------------------------------------- -->
<!-- <favorite [isFavorite]="post.isFav" (change)="onFavoriteChange()" ></favorite> -->

<favorite [isFavorite]="post.isFav" (change)="onFavoriteChange($event)" ></favorite>


<!-- <bootstrap-panel>
    <div class="heading">heading</div>
    <div class="body">body</div>
</bootstrap-panel> -->


<bootstrap-panel>
    <ng-container class="heading">heading</ng-container>
    <ng-container class="body">body</ng-container>
</bootstrap-panel>









